<div class="well well-sm" id="remark-{{remark.id}}">
  {{#if thisUserRemark}}
    <a class="btn btn-default edit-remark" data-action="/remarks/{{remark.id}}" href="">Edit</a>
    <a class="btn btn-default delete-remark"
       data-confirm="true"
       data-error="remarkDeleteError"
       data-method="DELETE"
       data-remote="true"
       data-type="json"
       data-success="remarkDeleteSuccess"
       href="/remarks/{{remark.id}}">Delete</a>
    <br>
    <br>
  {{/if}}
  <p class="meta-info">
  {{#if remark.author}}
    Author:&nbsp;<strong>{{remark.author}}</strong>
  {{/if}}
  </p>
  <div class="remark-content">{{{remark.remark}}}</div>
</div>