<div id="answer-{{answer.id}}" class="answer">
  {{#if thisUserAnswer}}
    <div class="answer-buttons">
      <a class="btn btn-primary edit-answer-button" data-action="/answers/{{answer.id}}" href="">Edit Answer</a>
      <a class="btn btn-danger delete-answer-button" data-confirm="true" data-error="answerDeleteError" data-method="DELETE" data-remote="true" data-type="json" data-success="answerDeleteSuccess" href="/answers/{{answer.id}}">Delete Answer</a>
    </div>
    <br>
  {{/if}}
  <p class="meta-info">
    {{#if answer.author}}
      Author:&nbsp;<strong>{{answer.author}}</strong><br />
    {{/if}}
    Created:&nbsp;{{answer.created_at}}<br/>
    Last update:&nbsp;<span class=".updated_at">{{answer.updated_at}}</span>
  </p>
  <p>
    <span class="label label-success best-answer" style="display: none;">Best</span>
    {{#if thisUserQuestion}}
      <a class="btn btn-default best-answer-button" data-method="PATCH" data-remote="true" href="/answers/{{answer.id}}/set_as_best" style="">Best</a>
    {{/if}}
  </p>
  <p class="answer-content">{{{answer.answer}}}</p>
  <ul class="attachments">
    {{#each answer.attachments}}
        <li><a href="{{this.file.url}}" data-id="{{this.id}}" target="_blank">{{this.file.name}}</a></li>
    {{/each}}
  </ul>
  <div class="row">
    <div class="answer-remarks col-xs-offset-1 col-xs-10 remarks">
      <a class="btn add-remark" data-action="/answers/{{answer.id}}/remarks" href="">Add Remark</a>
    </div>
  </div>
  <hr>
</div>